.table {
    width: 90%;
    margin: auto;
}

.headerCell {
    border: 1px solid black;
}

.tableRow {
    border: 1px solid black;
    align-items: center;
    align-content: center;
}

.tableBtn {
    border: 1px solid transparent;
	border-radius: 5px;
	padding: 0.4rem 0.8rem;
	background-color: #888;
	color: #fefefe;
}

.tableBtn:hover {
    cursor: pointer;
	background-color: #333;
}